<div class="container text-center">
    <h1>About Page</h1>
    <p>Welcome to Valorant Duo Matcher! This site was created as a place where
    Valorant players could quickly match up with other players to queue
    competitive games with. Feel free to make an account or proceed as a guest
    as you try to find a good match for you.</p>
</div>