<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Valorant Duo Match</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-account me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guest</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>Valorant Duo Matcher</h1>
    <p>
        Find the duo partner of your dreams.
    </p>
    <br />
  </div>
</div>

<div class="container home_table">
  <div class="row">
    <div class="col-md-4 home_table_header">
      <h4>
        Already have an account? Log in below:
      </h4>
    </div>
    <div class="col-md-4 home_table_header">
      <h4>
        Creat a new account here:
      </h4>
    </div>
    <div class="col-md-4 home_table_header">
      <h4>
        No account necessary. Proceed as a guest below:
      </h4>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Log In »</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up »</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Proceed As Guest »</a>
      </p>
    </div>
  </div>
</div>