<div class="jumbotron">
  <div class="container">
    <h1>Valorant Duo Matcher</h1>
    <p>
        Find the duo partner of your dreams.
    </p>
    <br />
  </div>
</div>

<div class="container home_table">
  <div class="row">
    <div class="col-md-4 home_table_header">
      <h4>
        Already have an account? Log in below:
      </h4>
    </div>
    <div class="col-md-4 home_table_header">
      <h4>
        Creat a new account here:
      </h4>
    </div>
    <div class="col-md-4 home_table_header">
      <h4>
        No account necessary. Proceed as a guest below:
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Log In »</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up »</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Proceed As Guest »</a>
      </p>
    </div>
  </div>
</div>